.payment-success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 2rem;
  color: green;
  animation-name: success;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes success {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pi-check {
  font-size: 5rem;
  margin-top: 1rem;
}
