<p-card>
  <p-toast position="top-right"></p-toast>
  <div class="form">
    <form action="" #myForm="ngForm">
      <div class="form-fields">
        <label class="label" for="float-input">Name</label>
        <input class="input" id="float-input" type="text" pInputText [(ngModel)]="foodCategory.food_category_name"
          name="food_category_name">
      </div>
      <div class="form-fields">
        <label class="label" for="float-input">Description</label>
        <textarea class="input" [rows]="5" pInputTextarea [(ngModel)]="foodCategory.description" name="description"
          [autoResize]="true"></textarea>
      </div>
      <div class="form-fields">
        <label class="label" for="float-input">Location</label>
        <input class="input" id="float-input" type="text" pInputText [(ngModel)]="foodCategory.location"
          name="location">
      </div>
      <div class="form-fields">
        <p-button class="p-float-label form-input" label="Save" (click)="onSubmit()"></p-button>
      </div>
    </form>
  </div>
</p-card>
