<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark navbar-light"  style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand mr-auto" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <form class="navbar-nav mx-auto my-2 navbar-nav-scroll" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto d-flex">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['signup']">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['admin/account/login']">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<div class="navbar">
  <div class="navbar-logo">
    <a href="">
      <img src="assets/logo1.jpg" alt="image logo" width="50" height="50">
    </a>
  </div>
  <input class="searchbox" type="text" placeholder="Search" pInputText>
  <div class="navbar-items">
    <p-dropdown class="btn-login dropdown" [options]="cities" [(ngModel)]="selectedCity" name="name"
      (ngModelChange)="OnCityChange($event)" placeholder="Select a City" optionLabel="name"
      optionValue="name"></p-dropdown>

    <ul class="nav">
      <li class="btn-signup " label="Login" [routerLink]="['login']">Login</li>
      <li class="btn-login" label="Signup" [routerLink]="['signup']">Signup</li>
      <li class="btn-login" label="Merchant" [routerLink]="['/admin/account/login']">Merchant</li>
    </ul>
    <!-- Add the profile button to your component template -->
<!-- <button pButton type="button" icon="pi pi-user" (click)="showMenu($event)"></button> -->

<!-- Add the menu to your component template -->
  </div>
</div>

<!-- <p-menu #menu [model]="items"></p-menu> -->
