.hlist
{
  list-style-type:none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  top: 0;
  position: sticky;
  background-color: black;
  box-shadow: 0 0 10px #212A3E;
  padding: 10px;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.p-dropdown {
  margin-right: 10px;
  width: 150px;
}

.nav{
  color: white;
}

input[type="text"] {
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin-right: 10px;
}
.searchbox{
  opacity: 0.8;
}

.btn-login,
.searchbox,
.btn-signup {
  /* background-color: #007bff;
  color: #fff;
  border: none; */
  border-radius: 4px;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-login:hover,
.btn-signup:hover {
  /* background-color: #0062cc; */

}

/* ::ng-deep .dropdown{
  background-color: aqua;
  color: #394867 !important;
  background: rgb(50, 50, 50);
} */
