<p-toast></p-toast>
<!-- <div class="payment-success" *ngIf="isPaymentSuccessfull">
  <p>Payment successful!</p>
  <i class="pi pi-check"></i>
</div> -->

<p-progressBar mode="indeterminate" [style]="{ height: '10px',color:'red' }"  *ngIf="isLoading"></p-progressBar>
<div class="cart-items">
  <h2>Order Summary</h2>
  <p-table [value]="OrderItem">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td>{{ item.order_item_name }}</td>
        <td>{{ item.order_item_price }}</td>
        <th>{{item.order_item_qty}}</th>
        <td>{{item.order_item_total_price}}</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="total-price"><p-skeleton *ngIf="isLoading"></p-skeleton>Total Price: {{ orderdetails.total_price }}</div>
  <div class="delivery-info">
    <div class="delivery-time"><p-skeleton *ngIf="isLoading"></p-skeleton>Order Id: {{ orderdetails.order_id }}</div>
    <div class="delivery-time"><p-skeleton *ngIf="isLoading"></p-skeleton>Delivery Time: {{ orderdetails.delivery_by }}</div>
    <div class="delivery-boy"><p-skeleton *ngIf="isLoading"></p-skeleton>Delivery Boy: {{ orderdetails.executive_id }}</div>
    <div class="delivery-address"><p-skeleton *ngIf="isLoading"></p-skeleton>Delivery Address: {{ orderdetails.delivery_address }}</div>
  </div>
</div>
