
<p-toast position="top-right"></p-toast>
<div>
  <span class="rname"> Restraunt Name : {{restraunt_id}}</span>
  <p-button class="cartbutton" label="Cart" icon="pi pi-shopping-cart" styleClass="p-button-success"
    badge={{itemsCount}} badgeClass="p-badge-succes"
    [routerLink]="['/details/restraunt-food/cart']"
    ></p-button>
</div>

<!-- <div *ngFor="let food of foodList">
  <p-card class="card">
    <ng-template pTemplate="title">
      {{ food.food_name }}
    </ng-template>
    <ng-template pTemplate="content">
      <p-image class="img" src={{food.image}} alt="Image" width="130" height="130" [preview]="true"></p-image>
      <div class="card-content">
        <p>Price: {{ food.price }}</p>
        <div class="add-to-cart-container">
          <button pButton type="button" label="Add to Cart" icon="pi pi-shopping-cart" (click)="addToCart(food)"></button>
        </div>
      </div>
      <div>
        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded"></button>
        <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded"></button>
      </div>
    </ng-template>
  </p-card>
</div> -->
<div class="row">
  <div class="col" *ngFor="let food of foodList">
    <div class="card-container">
      <a class="card" [routerLink]="['/details/restraunt-food/food-list']"
        [queryParams]="{ restraunt_id: food.food_detail_id }">
        <p-card styleClass="color3">
          <ng-template pTemplate="content">
            <p-image src={{food.image}} alt="Image" height="250" width="350"></p-image>

          </ng-template>
          <ng-template pTemplate="footer">

          </ng-template>
          <ng-template pTemplate="footer">
            {{food.food_name}}
            | Rating 3
            <div class="add-to-cart-container">
              <button class="cart-button-color" pButton type="button" label="Add to Cart" icon="pi pi-shopping-cart"
                (click)="addToCart(food)"></button>
              <!-- <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded"></button>
              <h4>5</h4>
              <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded"></button> -->
            </div>
            <div>
            </div>
          </ng-template>
        </p-card>
      </a>
    </div>
  </div>
</div>
