div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rname {
  margin-right: auto;
}
.card
{
  margin: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
::ng-deep .color3 {
  background-color: #F9F3DF !important;
}
::ng-deep .cart-button-color{
  /* background-color: #F4D19B; */
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.add-to-cart-container {
  margin-top: auto;
}
.img{
  border-radius: 100px;
}
.rname{
  margin-right: auto;
}
.cartbutton{
  margin-left: auto
}
